machine:
  # Setup hetzner ntp server.
  time:
    servers:
      - ntp1.hetzner.de
      - ntp2.hetzner.com
      - ntp3.hetzner.net
      - time.cloudflare.com
  network:
    interfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - ${node_ipv4_public}/32
        routes:
          - network: 172.31.1.1/32
          - network: 0.0.0.0/0
            gateway: 172.31.1.1
      - interface: eth1
        dhcp: true
  kubelet:
    nodeIP:
      validSubnets:
        - ${cluster_ipv4_private_cidr}