name: Release
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          persist-credentials: false
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@cb425203a562475bca039ba4dbf90c7f9ac790f4 # v4.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_SEMANTIC_RELEASE }}
        with:
          semantic_version: 23.0.2
          extra_plugins: |
            - conventional-changelog-conventionalcommits@7.0.2
